body{
    background-color: rgb(0, 0, 0);
    color: white;
}

button{

    font-size: 30px;
    padding: 20px;
    border-radius: 50%;
    border: none;
}

.main{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}